.category-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.category-detail button {
    margin: 1vh 0;
}

.category-detail p {
    font-size: 2vmin;
    white-space: pre-wrap;
    text-wrap: wrap;
}

.category-detail textarea {
    width: 100%;
    height: 40vh;
    font-family: "IM Fell Double Pica", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vmin;
    resize: none;
}

.category-description-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 43vh;
    padding: 0 10px;
}

.category-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 35.5vh;
    width: 100%;
    overflow-y: auto;
    padding: 0 2vw 0 2vw;
}

.top-elements {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 2px;
    border-style: none none solid none;
    border-color: var(--border);
}

.bottom-elements {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.files {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.file-list {
    width: 10vw;
    max-height: 25vh;
    overflow: auto;
}

.delete-category-warning {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-category-buttons {
    display: flex;
    width: 25vw;
    justify-content: space-between;
    align-self: center;
}

.delete-confirm {
    display: flex;
    align-items: center;
    width: 20vw;
    justify-content: space-between;
}