.campaignDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.campaignDetail label, p {
    margin-top: 3vh;
}

.campaignDetail input {
    width: 20vw;
}

.inputs {
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
    width: 65%;
}

.campaignDetail button {
    margin: 1vh 0;
}

.campaignDetail textarea {
    width: 100%;
    height: 38.3vh;
    font-family: "IM Fell Double Pica", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vmin;
    resize: none;
}

#campaign-note-input {
    height: 32vh;
}


.campaign-description-form, .session-note-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 0 10px;
}

.edit-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 2px;
    border-style: none none solid none;
    border-color: var(--border);
}

.label-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.campaignDetail p {
    font-size: 2vmin;
    padding: 1vh 2vw 0;
    white-space: pre;
    text-wrap: wrap;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: auto;
}

#tall-campaign-description {
    max-height: 59vh;
}

#short-campaign-description {
    max-height: 15vh;
}

.description p {
    margin-bottom: 0;
}

.description button {
    width: 10vw;
}

.session-note-table {
    width: 30vw;
    margin-top: 1vh;
}

.note-link:hover {
    cursor: pointer;
    color: var(--border)
}

.session-note-buttons {
    display: flex;
    width: 15vw;
    justify-content: space-between;
    align-self: center;
}