.header {
    width: 100vw;
    height: 10vh;
    border-bottom: 5px solid #CC3D0B;
    background: #FFEEE7;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
    font-family: "Jim Nightshade", cursive;
    font-weight: 400;
    font-style: normal;
}

.header div {
    display: flex;
    align-items: center;
    gap: 1vw;
    height: 8vh;
}

.header a, p {
    font-size: 5vh;
    color: #000;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

#campaign-name:hover {
    color: var(--border);
}