.sidenav {
    height: 90vh;
    margin-top: 10vh;
    width: 15vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--secondary-bg);
    overflow-x: hidden;
    border-right: 3px solid #CC3D0B;
    font-family: "IM Fell Double Pica", serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.categoryList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav a, p {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 2.5vmin;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.sidenav a:hover {
    color: var(--text-light);
}

.bottom-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 15vw;
}

.bottom-links p {
    font-size: 2.5vmin;
    padding: 6px 0 6px 16px;
    cursor: pointer;
}

.add-button, .cancel-button {
    width: 10vw;
    color: var(--border);
    font-size: 2vmin;
    font-weight: normal;
    background: none;
    border: none;
    text-align: left;
    margin: 0;
    padding: 6px 8px 6px 16px;
}

.add-button:hover {
    color: var(--border-light);
}

.add-button:disabled, .category-form:invalid button[type="submit"] {
    color: var(--text-light);
    cursor: not-allowed;
    background: none;
}

.category-form {
    display: flex;
    flex-direction: column;
}

.category-input {
    width: 12.5vw;
    margin-left: 20px;
}

.top-links {
    padding: 1vh 0.5vw 1vh 0;
    width: 15vw;
    max-height: 80vh;
    overflow: auto;
    border: 2px;
    border-style: none none solid none;
    border-color: var(--border);
}