.sidenav {
    height: 90vh;
    margin-top: 10vh;
    width: 8vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--secondary-bg);
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 3px solid #CC3D0B;
    font-family: "IM Fell Double Pica", serif;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
}

.sidenav a:hover {
    color: var(--text-light);
}